<nav class="pcoded-navbar theme-horizontal menu-light">
    <div class="navbar-wrapper">
        <div class="navbar-content sidenav-horizontal">
            <ul class="nav pcoded-inner-navbar sidenav-inner">
                <li class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    <ul class="pcoded-submenu">
                        <li><a href="/">Admin</a></li>
                        <li><a href="script:;">Dashboard one</a></li>
                        <li><a href="script:;">Dashboard two</a></li>
                        <li><a href="script:;">Dashboard three</a></li>
                        <li><a href="script:;">Dashboard four</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="counter" class="nav-link "><span class="pcoded-micon"><i class="feather icon-list"></i></span><span class="pcoded-mtext">Counter</span></a>
                </li>
                <li class="nav-item pcoded-hasmenu" id="menuAdmin">
                    <a href="javascript:"><span class="pcoded-micon"><i class="feather icon-package"></i></span><span class="pcoded-mtext">Lista</span></a>
                    <ul class="pcoded-submenu">                       
                        <li><a href="/fetchdata">Fetchdata</a></li>
                    </ul>
                </li>
                @*<li class="nav-item pcoded-hasmenu" id="menuAdmin">
                    <a href="javascript:"><span class="pcoded-micon"><i class="feather icon-users"></i></span><span class="pcoded-mtext">Operacional</span></a>
                    <ul class="pcoded-submenu">
                        <li class="pcoded-hasmenu">
                            <a href="javascript:">Funcionário</a>
                            <ul class="pcoded-submenu">
                                <li><a href="/cartao/solicitacao" class="nav-link">Cartão</a></li>                            
                            </ul>
                        </li>                      
                    </ul>
                </li>*@
                @*<li class="nav-item pcoded-hasmenu" id="menuAdmin">
                    <a href="javascript:"><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">Funcionário</span></a>
                    <ul class="pcoded-submenu">
                        <li class="pcoded-hasmenu">
                            <a href="javascript:">Cadastro</a>
                            <ul class="pcoded-submenu">
                                <li><a href="/funcionario" class="nav-link">Pesquisar</a></li>
                                <li><a href="/funcionario/novo">Incluir</a></li>
                            </ul>
                        </li>                    
                    </ul>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-clipboard"></i></span><span class="pcoded-mtext">Cad. Auxiliar</span></a>
                    <ul class="pcoded-submenu">
                        <li class="pcoded-hasmenu">
                            <a href="javascript:">Básicos</a>
                            <ul class="pcoded-submenu">
                                <li><a href="/cargo">Cargos</a></li>
                                <li><a href="/cartao">Cartão</a></li>
                                <li><a href="/chipcelular">Chip Celular</a></li>
                                <li><a href="/departamento">Departamentos</a></li>
                                <li><a href="/empresa">Empresas</a></li>
                                <li><a href="/feriado">Feriados</a></li>
                                <li><a href="/fornecedor">Fornecedores</a></li>
                                <li><a href="/funcao">Funçoes</a></li>
                                <li><a href="/tipoSegmento">Segmentos</a></li>
                                <li><a href="/sindicato">Sindicatos</a></li>
                                <li><a href="/unidade">Unidades</a></li>
                            </ul>
                        </li>
                        <li class="pcoded-hasmenu">
                            <a href="javascript:">Estoque</a>
                            <ul class="pcoded-submenu">
                                <li><a href="/estoqueproduto">Produtos</a></li>
                                <li><a href="/tipoestoque">Tipos</a></li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item pcoded-hasmenu" id="menuAdmin">
                    <a href="javascript:"><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Admin</span></a>
                    <ul class="pcoded-submenu">
                        <li class="pcoded-hasmenu">
                            <a href="javascript:">Usuários</a>
                            <ul class="pcoded-submenu">
                                <li><a href="/usuario" class="nav-link">Pesquisar</a></li>
                                <li><a href="/usuario/novo">Incluir</a></li>
                                <li><a href="/usuario/perfil">Perfil</a></li>
                            </ul>
                        </li>
                        <li><a href="/LogErro">Log de Erros</a></li>
                    </ul>
                </li>*@
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
