
<div class="col-md-12">
    <div class="card ">
        <div class="card-body">
            <center>
                <div class="form-actions">
                    <p>Aguarde, carregando dados...</p>
                </div>
            </center>
        </div>
    </div>
</div>
